.personal-projects-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-projects-wrapper>h4 {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
}

.personal-projects-content {
    display: flex;
    justify-content: center;
}

.project-image-wrapper {
    width: 100px;
    height: 100px;
}

.project-image-wrapper>img {
    height: 100%;
    width: 100%;
}

.projects-wrapper {
    column-gap: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    row-gap: 24px;
}

.project-card {
    width: 400px;
    box-sizing: border-box;
    background: white;
    padding: 16px;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .project-card {
        width: 100%;
    }
}

.image-with-tech-stack {
    display: flex;
}

.tech-wrapper {
    margin-left: 10px;
}

.tech-links-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.project-title {
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0 4px;
    color: #111;
}

/* Description */
.project-desc {
    font-size: 15px;
    line-height: 1.5;
    color: #444;
    margin-bottom: 8px;
}

/* Tech stack */
.project-tech {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    font-weight: 500;
}

/* Links */
.project-links {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
}

.project-links a {
    font-size: 14px;
    text-decoration: none;
    color: #5b28d8;
    font-weight: 600;
}

.project-links a:hover {
    text-decoration: underline;
}