.about {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 10rem;
}
.imageContainer {
  float: left;
  width: 35%;
  height: 350px;
  padding: 50px;
}
.imageContainer > img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  box-shadow: 3px 3px #888888;
  border-radius: 4px;
}
.detailsContainer {
  padding: 50px;
  float: left;
  width: 65%;
  height: 100%;
}

.detailsContainer > h4 {
  font-size: 30px;
  margin-bottom: 30px;
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
}
.detailsContainer > h4 :after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #d6b161;
  height: 1px;
  width: 70px;
}
.personalDetails {
  margin-top: 50px;
}
.personalDetails > table {
  width: 100%;
}
.tableRow {
  text-align: left;
}

.tableRow > td > i {
  padding-right: 10px;
}
.tableRow > td {
  padding-top: 20px;
  max-width: 40px;
}

@media (max-width: 700px) {
  .about {
    padding: 2.5rem;
    font-size: smaller;
  }

  .imageContainer {
    height: 200px;
    width: 100%;
    padding: 24px;
  }
  .detailsContainer {
    width: 100%;
    padding: 0px;
    /* width: 65%; */
    height: 100%;
    display: flow-root;
    margin: 2px;
    font-size: xx-small;
  }
  .detailsContainer > p {
    text-align: center;
    font-size: 12px;
  }
  .tableRow > td {
    max-width: 100%;
    padding-top: 0px;
  }
  .tableRow > td > i {
    padding-right: 6px;
  }
  .detailsContainer > h4 {
    margin-bottom: 0px;
    padding-bottom: 4%;
    font-size: 25px;
  }
  .tableRow > td > span {
    font-size: 10px;
  }
  .personalDetails {
    margin-top: 20px;
  }
}
